body { padding-top: 70px; }

svg {
  background-color: #333333;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}