svg {
  background-color: #333333;
}

text {
  fill: whitesmoke;
}

line {
  fill: whitesmoke;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: darkorange;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}